body {border: solid black;background-color:#F0F2F0 ;}
h1{background-color: black;text-align: center;color: white;font-size: 150px;}
header ul li{display:inline; padding:0px;margin: 9%;
     ;color: white;border: 0px
    ;align-items: center;margin-left: 70px; font-size: 40px;}
header nav ul li a{text-decoration: none ;color: white; }
nav ul {background-color: black;}
table,th,td {border:2px solid black;border-collapse: collapse;margin-left: 30%;width:40%; font-size:20px;}
h2{font-size: 40px;padding: 0px;}

img{width: 30px;padding:0px;margin: 1px;}
footer {background-color: black;color: white;font-size: 30px;}